@use '../modules/variables'

header
    // h3
        // background-color: variables.$light-black
        // border: 2px solid variables.$light-black
        // border-radius: 10px
        // color: variables.$white
        // padding: 4px
        // left: 12%
        
    .nav-link
        color: variables.$black

        &:hover
            font-size: 13pt
            font-style: bold
            color: variables.$black
            font-weight: 500

